* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
}

html {
    font-family: 'montserrat', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.conteiner {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}

header {
    min-height: 140px;
    background: #F9F6F1;
}

.header-menu {
    min-height: 90px;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

.mainmenu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.mainmenu__item {
    padding-top: 61px;
    margin-right: 45px;
}

.basket__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.basket__item {
    padding-top: 54px;
    margin-right: 15px;
    
}


/*--------------------------section delivery--------------------------------*/

.delivery {
    background: #212121;
    color: #FFFFFF;
}

.delivery .conteiner {
    display: flex;
    flex-direction: column;
}

.delivery__h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-top: 80px;
    margin-bottom: 23px;
}

.delivery__h2 span {
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.delivery__text {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 69px;
}

/*-----------section men-woman-------------*/

.men-woman .conteiner {
    display: flex;
    flex-direction: row;

}

.men,
.woman {
    width: 50%;
    padding: 60px 15px 58px;
}

.men-woman__h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.men-woman__text {
    margin-top: 25px;
    margin-bottom: 40px;
}

.men-woman__a {
    display: flex;
    width: 80px;
    height: 30px;
    flex-shrink: 0;
    background: #D7B399;
    justify-content: center;
    align-items: center;
}

.men-woman__a:hover {
    background: #d19c76;
}

.men-woman {
    background: rgb(249, 246, 241);
    background: linear-gradient(90deg, rgba(249, 246, 241, 1) 0%, rgba(249, 246, 241, 1) 50%, rgba(249, 224, 224, 1) 50%, rgba(249, 224, 224, 1) 100%);
}

.men {
    background: url(../img/men.png) no-repeat;
    background-size: 80%;
    background-position-x: right;
    background-position-y: 80px;
}

.woman {
    background: url(../img/woman.png) no-repeat;
    background-size: 80%;
    background-position-x: right;
    background-position-y: 80px;
}

@media(max-width:800px) {
    .men-woman .conteiner {
        flex-direction: column;

    }

    .men,
    .woman {
        width: 100%;
    }

    .men-woman {
        background: rgb(249, 246, 241);
        background: linear-gradient(180deg, rgba(249, 246, 241, 1) 0%, rgba(249, 246, 241, 1) 50%, rgba(249, 224, 224, 1) 50%, rgba(249, 224, 224, 1) 100%);
    }
}


/*-------------------section new-----------------------*/

.new .conteiner {
    padding-top: 150px;
    padding-bottom: 150px;
}


.new__h2 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;

}

.new__btn {
    width: 220px;
    height: 55px;
    flex-shrink: 0;
    background: #D7B399;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 103px;
    margin-bottom: 103px;

}

.card {
    padding: 25px;
    border: 1px solid #D7B399;
    width: 20%;
    text-align: center;
    margin: 10px;
}

.card__img {
    width: 80%;
}

.card__title {
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 25px;
}

.card__price {
    color: #D7B399;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}

@media(max-width: 700px) {
    .card {
        width: 40%;
    }
}

@media(max-width: 400px) {
    .card {
        width: 80%;
    }
}